<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772915166272-eaqkurocmvqbe0omg1ta57iimbt6v169.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772915166272-eaqkurocmvqbe0omg1ta57iimbt6v169</string>
	<key>API_KEY</key>
	<string>AIzaSyDW5-bVJiHY24Twz4zVBEKQDuRCVAIsR3U</string>
	<key>GCM_SENDER_ID</key>
	<string>772915166272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bitApp</string>
	<key>PROJECT_ID</key>
	<string>bit-notes-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bit-notes-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772915166272:ios:c09e6c08c1197b8db533a5</string>
</dict>
</plist>